.warnaa{
   
    background: linear-gradient(-45deg,#07f9f2,#11f20d,#00d4ff,#79ff00);
    background-size: 200% 200%;
    box-shadow: none;
    animation: gradientBG 10s ease infinite;
}
.warnaa2{
   
    background: -webkit-linear-gradient(-45deg,#07f9f2,#11f20d,#00d4ff,#79ff00);
    background-size: 200% 200%;
    box-shadow: none;
    animation: gradientBG 10s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.warnaa1{
   
    background: linear-gradient(-90deg,#f50a02,hsl(27, 98%, 51%),#e9f509,#06f526);
    background-size: 200% 200%;
    box-shadow: none;
    animation: gradientBG 10s ease infinite;
}


@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}